{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <form action="" method="POST">

            <p>
                <label for="year">Année</label>
                <input type="text" name="year" id="year" />
                <label for="month">Mois</label>
                <input type="text" name="month" id="month" />
                <label for="day">Jour</label>
                <input type="text" name="day" id="day" />
                <label for="hour">Heure</label>
                <input type="text" name="hour" id="hour" />
            </p>
            <p>
                <button type="submit">Afficher</button>
            </p>
        </form>


        <div>
            <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/amcharts.js"></script>
    <script src="/assets/js/serial.js"></script>
    <script>
        axios.get('http://localhost:8080/tweet-count/2018/10/22?groupBy=HOUR')
            .then((response) => {
                console.log(response.data);

                var chart = AmCharts.makeChart("chartdiv", {
                    "type": "serial",
                    "theme": "dark",
                    "dataDateFormat": "YYYY-MM-DD JJ:NN:SS",
                    "dataProvider": response.data,
                    "valueAxes": [{
                        "maximum": 600,
                        "minimum": 0,
                        "axisAlpha": 0,
                        "guides": [{
                            "fillAlpha": 0.1,
                            "fillColor": "#CC0000",
                            "lineAlpha": 0,
                            "toValue": 120,
                            "value": 0
                        }, {
                            "fillAlpha": 0.1,
                            "fillColor": "#0000cc",
                            "lineAlpha": 0,
                            "toValue": 200,
                            "value": 120
                        }]
                    }],
                    "graphs": [{
                        "bullet": "round",
                        "dashLength": 4,
                        "valueField": "value"
                    }],
                    "chartCursor": {
                        "cursorAlpha": 0,
                        "zoomable":false,
                        "valueZoomable":true
                    },
                    "categoryField": "date",
                    "categoryAxis": {
                        "minPeriod": "hh",
                        "parseDates": true
                    },
                    "valueScrollbar":{

                    }
                });
            });
    </script>

{% endblock %}
