{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <span style="color: {% if mysqlStatus %}green{% else %}red{% endif %};">Mysql {% if mysqlStatus %} connecté {% else %} déconnecté{% endif %}</span>
    </div>

    <div style="display:flex;flex-flow: row wrap;">
        {% for service, serviceList  in twitterStatuses %}
            <div>
                <strong>{{ service }}</strong>
                <p>
                    {% for serviceName, serviceStatus in serviceList %}
                    {{ serviceName }}<br/>

                <p style="padding: 13px 0;margin-left: 26px;background-color: #f1f1f1">
                    {% for serviceStatusKey, serviceStatusValue in serviceStatus  %}
                        <span style="display: inline-block;margin-left: 26px;">{{ serviceStatusKey }} : {{ serviceStatusValue }}</span><br/>
                    {% endfor %}
                </p>
                {% endfor %}
                </p>
            </div>
            <hr />
        {% endfor %}
    </div>

{% endblock %}
